@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  max-width: 985px;
  margin: 0 auto 80px;
}


@media all and (max-width: 768px) {
	.lead {
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media all and (max-width: 767px) {
	.lead {
    margin-bottom: 64px;
  }
}

@media all and (max-width: 375px) {
	.lead {
    margin-left: -16px;
    margin-right: -16px;
  }
}
