.photo__container {
  max-width: 1184px;
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
}

@media all and (max-width: 320px) {
	.photo__container {
		grid-gap: 8px;
	}
}
