.lead__subtitle {
  max-width: 583px;
  font-size: 1.875rem;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 78px;
}

@media all and (max-width: 768px) {
	.lead__subtitle {
    padding: 0 24px 0;
	}
}

@media all and (max-width: 767px) {
	.lead__subtitle {
		font-size: 1rem;
    line-height: 1.4375;
    margin-bottom: 31px;
	}
}

@media all and (max-width: 375px) {
	.lead__subtitle {
    padding: 0 16px 0;
	}
}
