@import url(./__container/footer__container.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  padding: 0 48px;
}

@media all and (max-width: 780px) {
	.footer {
		padding: 0 24px;
	}
}

@media all and (max-width: 375px) {
	.footer {
		padding: 0 16px;
	}
}
